<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-dark" href="{% url 'djangoapp:add_review' dealer.id%}">Write a Review</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a> 
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <h3 style="color:black">Reviews for {{dealer.full_name}} :</h3>
    <!-- Add reviews as cards -->
    <div class="card-columns">
        {% if not reviews %}
        <br>
        <h4 style="color:black">No reviews available for this dealer. Click "Add Review" to add one!</h4> 
        {% endif %}        
        {% for review in reviews %}
        <div class="card">
            {% if review.sentiment == "positive" %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" width="36px" height="36px"
                alt="Sentiment" style="margin : 10px">
            {% elif review.sentiment == "negative" %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" width="36px" height="36px"
                    alt="Sentiment" style="margin : 10px">
            {% else %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" width="36px" height="36px"
                    alt="Sentiment" style="margin : 10px">
            {% endif %}
            <div class="card-body">
                <card-title>{{review.car_make}}, {{review.car_model}}</card-title> <br>
                <card-title>{{review.car_year}}</card-title><br>
                <card-title>{{review.review}}</card-title>
            </div>
        </div>
        {% endfor %}
    </div>
    </body>

</html>